-var baseURL = '/crd/';

nav#mainNav.header__menu.menu(aria-label="Menu principal")
  ul.menu__list
    li.menu__item
      a.menu__link(href=`${baseURL}conservatoire.html`) Le conservatoire
    li.menu__item
      a.menu__link(href=`${baseURL}enseignement.html`) Enseignements
    li.menu__item
      a.menu__link(href=`${baseURL}agenda.html`) Agenda
    li.menu__item
      a.menu__link(href=`${baseURL}contact.html`) Contact
    li.menu__item.-btn
      a.menu__link(href=`${baseURL}inscription.html`) S'inscrire